@using HW13_1.Entities;
@model Student;
@{
    ViewData["Title"] = "Student Panel";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h1>Hello</h1>
<h2>@Model.FirstName @Model.LastName</h2>



